version: "3.8"

services:
  web:
    build: ./nginx
    volumes:
      - ./www:/var/www/html
    ports:
      - 80:80
      - 443:443
    restart: always

  php:
    build:
      context: ./php-fpm
      args:
        - APP_ENV=production
    env_file:
      - hateblog.env
    environment:
      - MYSQL_HOST=db
    volumes:
      - ./www:/var/www/html
    ports:
      - 9000:9000
    restart: always
  
  cron:
    build: ./cron
    env_file:
      - hateblog.env
    environment:
      - MYSQL_HOST=db
      - MAIL_ADMIN=kunikada@example.com
      - YAHOO_APP_ID=
    volumes:
      - ./shells:/var/www/shells
    restart: always
  
  db:
    build: ./mysql-mecab
    command:
      - mysqld
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_bin
      - --default-authentication-plugin=mysql_native_password
    env_file:
      - hateblog.env
    environment:
      - MYSQL_USER=hateblog
      - MYSQL_DATABASE=hateblog
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - 3306:3306
    restart: always

#  myadmin:
#    image: phpmyadmin
#    environment:
#      - PMA_ARBITARY=1
#    restart: always

volumes:
  db_data:
