version: "3.8"

services:
  web:
    image: nginx:alpine
    environment:
      - VIRTUAL_HOST=phpmyadmin.kunikada.com
      - TZ=Asia/Tokyo
    volumes:
      - ./conf/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./www:/var/www/html
    networks:
      - default
      - docker_global
    restart: always

  php:
    image: php:5.6-fpm-alpine
    environment:
      - ENCRYPTION_KEY_FILE=/run/secrets/ENCRYPTION_KEY
      - MYSQL_PASSWORD_FILE=/run/secrets/MYSQL_PASSWORD
      - MYSQL_HOST=db
      - APP_ENV=development
    secrets:
      - MYSQL_PASSWORD
      - ENCRYPTION_KEY
    volumes:
      - ./conf/php.ini-development:/usr/local/etc/php/php.ini
      #- ./conf/php.ini-production:/usr/local/etc/php/php.ini
      - ./www:/var/www/html
  
  db:
    image: gkmr/mysql-mecab
    command:
      - mysqld
      - --character-set-server=utf8
      - --collation-server=utf8_bin
      - --default-authentication-plugin=mysql_native_password
    environment:
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/MYSQL_ROOT_PASSWORD
      - MYSQL_PASSWORD_FILE=/run/secrets/MYSQL_PASSWORD
      - MYSQL_USER=hateblog
      - MYSQL_DATABASE=hateblog
    secrets:
      - MYSQL_ROOT_PASSWORD
      - MYSQL_PASSWORD
    volumes:
      - db_data:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d
    restart: always

  myadmin:
    image: phpmyadmin
    environment:
      - PMA_ARBITARY=1
#      - VIRTUAL_HOST=phpmyadmin.kunikada.com
    networks:
      - default
      - docker_global
    restart: always

volumes:
  db_data:

secrets:
  ENCRYPTION_KEY:
    file: ./conf/ENCRYPTION_KEY
  MYSQL_ROOT_PASSWORD:
    file: ./conf/MYSQL_ROOT_PASSWORD
  MYSQL_PASSWORD:
    file: ./conf/MYSQL_PASSWORD

networks:
  docker_global:
    external: true
